*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Comment */

h1{
  font-size: 100px;
  color: red;
}

/* Comment */